Thumbs.db
*.nupkg
*.obj
*.exe
*.dll
*.pdb
*.pfx
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.pfx
*.snk
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
[Ll]ib*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
DoxygenOutput*/
[Pp]ackages*/